$checkboxColor: #c4c4c4;
$checkboxColorChecked: #ffa800;

.checkbox-container {
  display: flex;
  align-items: flex-start;
}

#agree {
  display: none;
}

.my-checkbox {
  flex: none;
  width: 16px;
  height: 16px;
  background-color: $checkboxColor;
  border-radius: 4px;
  font-size: 12px;
  text-align: center;
  color: white;
  cursor: default;

  span {
    opacity: 0;
  }
}

/* hover state styling */
#agree + .my-checkbox:hover {
  background-color: darken($checkboxColor, 5%);
}

#agree:checked + .my-checkbox:hover {
  background-color: darken($checkboxColorChecked, 2%);
}

#agree:hover + .my-checkbox {
  background-color: darken($checkboxColor, 5%);
}

#agree:checked:hover + .my-checkbox {
  background-color: darken($checkboxColorChecked, 2%);
}

/* checked styling */
#agree:checked + .my-checkbox {
  background-color: $checkboxColorChecked;
}

#agree:checked + .my-checkbox > span {
  opacity: 1;
}

/* active state styling */
#agree + .my-checkbox:active {
  background-color: darken($checkboxColor, 10%);
}

#agree:checked + .my-checkbox:active {
  background-color: darken($checkboxColorChecked, 5%);
}

#agree:active + .my-checkbox {
  background-color: darken($checkboxColor, 10%);
}

#agree:checked:active + .my-checkbox {
  background-color: darken($checkboxColorChecked, 5%);
}

#agree + .my-checkbox.active {
  background-color: darken($checkboxColor, 10%);
}

#agree:checked + .my-checkbox.active {
  background-color: darken($checkboxColorChecked, 5%);
}

.agree-label {
  margin-left: 24px;
  font-size: 14px;
}