///////////// with selected option
$backgroundColor: #ebebeb;
$activeColor: #d8d8d8;
$shadowColor: #949494;

.my-dropdown-menu {
  position: relative;
  padding: 5px 5px;
  width: 100px;
  background-color: $backgroundColor;
  cursor: pointer;

  .selected-container {
    display: flex;
    justify-content: space-between;
  }
  
  .arrow {
    height: 16px;
    vertical-align: middle;
  }
  
  .options {
    position: absolute;
    display: none;
    flex-direction: column;
    left: 50%;
    top: 100%;
    border-radius: 0 0 5px 5px;
    transform: translate(-50%);
    overflow: hidden;
    box-shadow: 2px 2px 4px 0px $shadowColor;
  }
  
  .option {
    width: 100px;
    padding: 5px 5px;
    background-color: $backgroundColor;
  }
  
  .show {
    display: flex;
  }
  
  .active-option {
    background-color: $activeColor;
  }
  
  .rotate-up {
    transform: rotate(180deg);
  }
}

// ///////////// without selected option
// $backgroundColor: #ebebeb;
// $activeColor: #d8d8d8;
// $shadowColor: #949494;

// .my-dropdown-menu {
//   position: relative;
//   padding: 5px 5px;
//   width: 100px;
//   background-color: $backgroundColor;
//   cursor: pointer;

//   .options {
//     position: absolute;
//     display: none;
//     flex-direction: column;
//     left: 50%;
//     top: 100%;
//     border-radius: 0 0 5px 5px;
//     transform: translate(-50%);
//     overflow: hidden;
//     box-shadow: 2px 2px 4px 0px $shadowColor;
//   }
  
//   .option {
//     width: 100px;
//     padding: 5px 5px;
//     background-color: $backgroundColor;
//   }
  
//   .show {
//     display: flex;
//   }
  
//   .active-option {
//     background-color: $activeColor;
//   }
// }